<h1 class="text-center">Gifts</h1>
<p class="text-center lead">We do not have a gift list; your presence at our wedding is the best gift!</p> 
<p class="text-center lead">However, if you would like to make a contribution to our honeymoon (a trip to Japan), there will be a post box at the wedding reception or we can send you our bank account details. We intend to donate a proportion of anything we receive to two charities: Macmillan Cancer Support and Médicins Sans Frontières (Doctors Without Borders).</p>