<h1 class="text-center">Hotels</h1>
<p class="lead text-center">Below are a range of hotels in the area near the church and reception.</p>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
      <a href="http://www.ihg.com/crowneplaza/hotels/gb/en/london/loncy/hoteldetail" target="_blank">
        <h3>
          Crowne Plaza London – The City
        </h3>
        <p>
          19 New Bridge Street, London EC4V 6DB
        </p>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
    <a href="http://www.ihg.com/hotelindigo/hotels/us/en/london/lonlt/hoteldetail" target="_blank">
          <h3>
            Hotel Indigo London – Tower Hill
          </h3>
        <p>
          12 Minories, London EC3N 1LS
        </p>
    </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">

      <a href="http://www.london.liverpoolstreet.andaz.hyatt.co.uk" target="_blank">
        <h3>Andaz Liverpool Street</h3>

        <p>40 Liverpool Street, London EC2M 7QN</p>
      </a>

    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">
      <a href="http://threadneedles-boutique.hotel-rv.com/index.htm" target="_blank">
        <h3>Threadneedles Hotel</h3>

        <p>5 Threadneedle Street, London EC2R 8AY</p>
      </a>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">

      <a href="http://www.southplacehotel.com" target="_blank">
        <h3>South place Hotel
        </h3>
        <p>3 South Place, London EC2M 2AF</p>
      </a>

    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">

      <a href="http://www.thezetter.com" target="_blank"><h3>The Zetter Hotel</h3>

        <p>86-88 Clerkenwell Road, London EC1M 5RJ</p>
      </a>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">

      <a href="http://www.travelodge.co.uk" target="_blank">    
        <h3>Travelodge, London Bank</h3>

        <p>19-23 St Swithin's Lane, London EC4N 8AD</p>
      </a>

    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="thumbnail">

      <a href="http://www.premierinn.com/en/hotel/LONMON/london-bank-tower
      " target="_blank"><h3>Premier Inn London Bank (Tower)</h3>

      <p>20 St Mary At Hill, London EC3R 3EE</p>
    </a>
  </div>
</div>
</div>


