<h1 class="text-center">Welcome!</h1>
<p class="text-center lead">On these pages you will find some information about our wedding.  We hope that you find it useful.  We look forward to seeing you on our special day.</p>
<p class="text-center lead">We will be adding additional information over the coming weeks which we hope you will find useful.  If you have any questions please drop us an <a href="mailto:marthaanddavidwedding@gmail.com">e-mail</a> (marthaanddavidwedding@gmail.com).</p>