<h1 class="text-center">Taxis</h1>
<p class="lead text-center">
Here are the contact details of two minicab firms:
</p>
<div class="thumbnail">
<h2>Addison Lee</h2>

<p>020 7407 9000</p>

<a>www.addisonlee.com</a>
</div>
<div class="thumbnail">
<h2>Euston Station Cars</h2>

<p>020 7388 9494</p>

<a>www.es-cars.co.uk</a>
</div>