<h1 class="text-center">Things to do</h1>
<p class="lead text-center">Below are a few lists of things you can do while you are in london... we're not suggesting you do all of them(!) but if you fancied doing something while you're here.</p>

    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
            <h2 class="panel-title" id="-collapsible-list-group-">
              <a class="" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">
                Sights and Excursions
              </a>
            <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h2>
          </div>
          <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
            <ul class="list-group">
              <div class="list-group-item">
                  <h4 class="list-group-item-heading">Boat Trip on the River Thames</h4>
                  <p class="list-group-item-text">
                    <a href="http://www.thamesriverboats.co.uk)">http://www.thamesriverboats.co.uk</a> or <a href="http://www.thamesclippers.com/sightseeing-leisure">http://www.thamesclippers.com/sightseeing-leisure</a> or <a href="http://www.thamesriverservices.co.uk/boat-trip-on-thames.cfm">http://www.thamesriverservices.co.uk/boat-trip-on-thames.cfm</a>
                  </p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.changing-guard.com/dates-buckingham-palace.html"><h4 class="list-group-item-heading">Changing the Guard at Buckingham Palace</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.visitgreenwich.org.uk"><h4 class="list-group-item-heading">Greenwich</h4>
                </a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.hrp.org.uk/HamptonCourtPalace"><h4 class="list-group-item-heading">Hampton Court Palace</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.parliament.uk/visiting"><h4 class="list-group-item-heading">Houses of Parliament</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.londoneye.com"><h4 class="list-group-item-heading">London Eye</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.stpauls.co.uk"><h4 class="list-group-item-heading">St Paul’s Cathedral</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.theviewfromtheshard.com/en"><h4 class="list-group-item-heading">The View from The Shard</h4></a> 
                  <p class="list-group-item-text">You can either go and see the view or visit one of the Shard bars or restaurants</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.hrp.org.uk/TowerOfLondon"><h4 class="list-group-item-heading">Tower of London & Tower Bridge</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.southbanklondon.com"><h4 class="list-group-item-heading">Walk along the South Bank</h4></a>
              </div>
            </ul>
          </div>
        </div>
    </div>

    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
            <h4 class="panel-title" id="-collapsible-list-group-">
              <a class="" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">
                Museums and Galleries
              </a>
            <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
          </div>
          <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
            <ul class="list-group">
              <div class="list-group-item">
                  <a href="http://www.britishmuseum.org"><h4 class="list-group-item-heading">British Museum</h4></a>
                  <p class="list-group-item-text">A must - and FREE
                  </p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.dulwichpicturegallery.org.uk"><h4 class="list-group-item-heading">Dulwich Picture Gallery</h4></a>
                  <p class="list-group-item-text">The world’s first purpose-built public art gallery. Free for children under 18.</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.horniman.ac.uk"><h4 class="list-group-item-heading">Horniman Museum</h4></a>
                  <p class="list-group-item-text">A Betson family favourite. FREE</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.museumoflondon.org.uk"><h4 class="list-group-item-heading">Museum of London</h4></a>
                  <p class="list-group-item-text">The history of London from prehistoric times to the present day. FREE</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.vam.ac.uk/moc"><h4 class="list-group-item-heading">Museum of Childhood</h4></a>
                  <p class="list-group-item-text">Great fun for the whole family. FREE</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.nationalgallery.org.uk"><h4 class="list-group-item-heading">National Gallery</h4></a>
                  <p class="list-group-item-text">See world-famous masterpieces in real life.FREE</p>
              </div>
              <div class="list-group-item">
                  <a href="http://www.rmg.co.uk/national-maritime-museum"><h4 class="list-group-item-heading">National Maritime Museum</h4></a>
                  <p class="list-group-item-text">Go nautical! FREE</p>
              </div>
              <div class="list-group-item">
                <a href="http://www.nhm.ac.uk"><h4 class="list-group-item-heading">Natural History Museum</h4></a>
                <p class="list-group-item-text">Catch Dippy before he goes on tour. FREE</p>
            </div>
            <div class="list-group-item">
                <a href="http://www.sciencemuseum.org.uk"><h4 class="list-group-item-heading">Science Museum</h4></a>
                <p class="list-group-item-text">For all former, current and budding scientists! FREE</p>
            </div>
            <div class="list-group-item">
                <a href="http://www.tate.org.uk/visit/tate-modern"><h4 class="list-group-item-heading">Tate Modern</h4></a>
                <p class="list-group-item-text">Visit the magnificent turbine hall and see the piles of bricks! FREE</p>
            </div>
            </ul>
          </div>
        </div>
    </div>

    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
            <h4 class="panel-title" id="-collapsible-list-group-">
              <a class="" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="true" aria-controls="collapseListGroup3">
                Parks and Green Spaces
              </a>
            <a class="anchorjs-link" href="#-collapsible-list-group-"><span class="anchorjs-icon"></span></a></h4>
          </div>
          <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3" aria-expanded="true">
            <ul class="list-group">
              <div class="list-group-item">
                  <a href="http://www.royalparks.org.uk/parks/the-regents-park"><h4 class="list-group-item-heading">Regents Park</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.royalparks.org.uk/parks/hyde-park"><h4 class="list-group-item-heading">Hyde Park</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.royalparks.org.uk/parks/kensington-gardens"><h4 class="list-group-item-heading">Kensington Gardens</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://http://chelseaphysicgarden.co.uk"><h4 class="list-group-item-heading">Chelsea Physic Garden</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="www.cityoflondon.gov.uk/things-to-do/green-spaces/hampstead-heath"><h4 class="list-group-item-heading">Hampstead Heath</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.royalparks.org.uk/parks/greenwich-park"><h4 class="list-group-item-heading">Greenwich Park</h4></a>
              </div>
              <div class="list-group-item">
                  <a href="http://www.royalparks.org.uk/parks/richmond-park"><h4 class="list-group-item-heading">Richmond Park</h4></a>
              </div>
              <div class="list-group-item">
                <a href="http://www.kew.org"><h4 class="list-group-item-heading">Kew Gardens</h4></a>
            </div>
            <div class="list-group-item">
                <a href="http://www.trentcountrypark.com"><h4 class="list-group-item-heading">Trent Country Park</h4></a>
            </div>
            <div class="list-group-item">
                <a href="http://www.barnet.gov.uk/citizen-home/parks-sport-and-leisure/parks-and-open-spaces/dollis-valley-greenwalk"><h4 class="list-group-item-heading">Dollis Valley Green Walk</h4></a>
            </div>
            </ul>
          </div>
        </div>
    </div>