<h1 class="text-center">Venues</h1>
<p class="lead">We strongly recommend that you travel to the wedding by public transport. To plan your journey within London you can use either: </p>
<ul>
  <li>Transport for London website: <a href="http://www.tfl.gov.uk" target="_blank">www.tfl.gov.uk</a></li>
  <li>Citymapper app (available on android and iphone)</li>
</ul>
<div class="row">
<div class="col-xs-12 col-sm-6">
<h1>Church (A)</h1>
<p>The wedding ceremony will take place in the City of London at St Mary Moorfields Church, 4-5 Eldon Street, EC2M 7LS. The nearest stations are:</p>
  <ul>
    <li>
      Liverpool Street (National Rail and London Underground: Central, Circle, Metropolitan and Hammersmith and City lines) 
    </li>
    <li>
      Moorgate (London Underground: Northern, Circle, Metropolitan and Hammersmith and City lines).
    </li>
  </ul>
</div>
<div class="col-xs-12 col-sm-6">
  <h1>Reception (B)</h1>
  <p>The wedding reception will take place at Skinners’ Hall, 8½ Dowgate Hill, EC4R 2SP. This is a 15-minute walk from St Mary Moorfields but transport will be provided for those who prefer not to walk.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-sm-3"></div>
  <div class="col-xs-10 col-sm-6" id="map-canvas"></div>
  <div class="col-xs-1 col-sm-3"></div>
</div>